<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [buttonMessage]="buttonMessage" [buttonIcon]="buttonIcon" [buttonDestination]="buttonDestination"></app-page-title>
<div class="row">
  <div class="col-lg-12 col-xl-12">
    <div class="main-card mb-3 card">
      <div *ngIf="!contentLoaded else assignedClasses" class="h-sm d-flex justify-content-center align-items-center">
        <app-content-loader></app-content-loader>
      </div>
      <ng-template #assignedClasses>
        <div class="p-5 table-responsive">
          <table datatable class="padding-top-5 align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Class Details</th>
              <th> - </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of classesFetched; index as i">
              <td>{{i + 1}}</td>
              <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                      <div class="widget-heading">
                        <a [routerLink]="['/app/classes/students', data._source._uid]">
                          {{data._source._name}}
                        </a>
                      </div>
                      <div class="widget-subheading opacity-10">
                        <div class="pr-2">
                          {{data._source._school_name}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-right mr-3">
                      <div class="widget-content-right">
                        <fa-icon [routerLink]="['/app/classes/students', data._source._uid]" [icon]="faUser" placement="top" ngbTooltip="View Students" size="lg"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </div>
</div>
