<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHoverMouseIn()"
  (mouseout)="sidebarHoverMouseOut()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar();">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true" class="scroll-container" [config]="config" [scrollIndicators]="true"
        style="max-width: 600px; max-height: 600px;">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion"
              activeIds="{{extraParameter}}">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Menu</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="dashboards">
                <ng-template ngbPanelHeader>
                  <button routerLink="/app/landing" class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">Dashboards</span>
                  </button>
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Activities</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="elements">
                <ng-template ngbPanelHeader>
                  <button routerLink="/app/parent/children" class="vsm-link">
                    <i class="vsm-icon pe-7s-diamond"></i>
                    <span class="vsm-title">My Children</span>
                  </button>

                </ng-template>
              </ngb-panel>
              <ngb-panel id="components">
                <ng-template ngbPanelHeader>
                  <button routerLink="/app/classes" class="vsm-link">
                    <i class="vsm-icon pe-7s-car"></i>
                    <span class="vsm-title">Assigned Classes</span>
                  </button>
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Institution</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="form-controls">
                <ng-template ngbPanelHeader>
                  <button routerLink="/app/school" class="vsm-link">
                    <i class="vsm-icon pe-7s-ribbon"></i>
                    <span class="vsm-title">My Schools</span>
                  </button>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <div class="vsm-header">
              <a (click)="signOut();">Sign Out</a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
