<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div *ngIf="buttonMessage" class="page-title-actions">
      <button type="button" routerLink="{{buttonDestination}}" class="btn-shadow mr-3 btn btn-outline-warning">
        <fa-icon [icon]="buttonIcon" class="mr-2"></fa-icon>
        {{buttonMessage}}
      </button>
    </div>
  </div>
</div>
